:root {
  --font-main: "Dela Gothic One", sans-serif;
  --font-text: "Loved by the King", cursive;
  --font-text2: "Covered By Your Grace", cursive;
  --color1: rgb(101, 187, 197);
  --color2: rgb(255, 255, 255);
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.loved-by-the-king-regular {
  font-family: "Loved by the King", cursive;
  font-weight: 400;
  font-style: normal;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

body {
  header {
    nav {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      h1 {
        margin-left: 10%;
        text-align: center;
        padding-top: 1vh;
        font-size: 1.6em;
        color: #fdf0d5;
      }
      ul {
        display: flex;
        list-style: none;
        margin-right: 10%;
        text-transform: uppercase;
        font-size: 1.6em;
        padding-top: 1vh;
        li {
          text-align: center;
          a {
            text-decoration: none;
            color: #fdf0d5;
          }
          a:hover {
            color: #780000;
          }
        }
      }
    }
  }

  main {
    .index {
      background-image: url(https://images.unsplash.com/photo-1697355829034-bb4d0b4d35fc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        padding-top: 85vh;
        font-size: 1.5em;
        padding-left: 20vw;
        padding-right: 43vw;
        text-align: justify;
        font-family: var(--font-text2);
        line-height: 1.3;
        font-weight: 100;
      }

      .indexDescription {
        background-image: url(https://images.unsplash.com/photo-1600160366979-6ba227486e30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: bottom;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        border-radius: 20px;
        border: 3px solid #fdf0d5;
        width: 80vw;
        p {
          width: 30vw;
          font-size: 1.8em;
          padding-top: 55vh;
          color: #fdf0d5;
          padding-left: 2vw;
        }
        a {
          text-decoration: none;
          color: #fdf0d5;
          font-size: 6em;
          padding-top: 63vh;
          opacity: 80%;
        }
        a:hover {
          color: #780000;
        }
      }
    }

    .trip {
      padding-top: 10vh;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(https://images.unsplash.com/photo-1697355829034-bb4d0b4d35fc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
      background-size: cover;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: space-between;
        margin-left: 10vw;
        margin-right: 10vw;
        li {
          border: 3px solid #fdf0d5;
          border-radius: 30px;
          width: 39.5vw;
          margin-bottom: 2vh;
          a {
            .image-wrapper {
              position: relative;
              display: block;
              border-radius: 30px;
              overflow: hidden;
              img {
                width: 100%;
                height: auto;
                display: block;
              }

              .destination-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                text-transform: uppercase;
                color: #780000;
                font-size: 12em;
                transform: translateX(100%);
                opacity: 0;
                transition: transform 0.8s ease, opacity 0.5s ease;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          a:hover .destination-overlay {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
    }

    .user {
      padding-top: 5vh;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(https://images.unsplash.com/photo-1697355829034-bb4d0b4d35fc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: center;
      background-size: cover;
      height: 100vh;
      .userEditMain {
        width: 70vw;
        margin-left: 15vw;
        margin-top: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        border-radius: 30px;
        border: 3px solid #fdf0d5;
        background-color: rgba(120, 0, 0, 1);
        h1 {
          text-transform: uppercase;
          text-align: center;
          font-size: 3em;
          span {
            color: #fdf0d5;
          }
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          padding-left: 10vw;
          color: #fdf0d5;
        }
        a:hover {
          color: black;
        }
        .userEdit {
          display: flex;
          margin-left: 10vw;
          margin-top: 5vh;
          img {
            border-radius: 20px;
            border: 3px solid #fdf0d5;
            width: 20vw;
            margin-right: 4vw;
            margin-bottom: 2vh;
            height: 40vh;
            object-fit: cover;
          }
          .picture {
            text-transform: uppercase;
            color: #fdf0d5;
            text-align: center;
          }

          .userEditButton {
            padding: 5px 10px 5px 10px;
            background-color: unset;
            color: #fdf0d5;
            border-radius: 30px;
            border: 3px solid #fdf0d5;
            margin-top: 2vh;
          }
          .userEditButton:hover {
            background-color: #fdf0d5;
            color: #780000;
            border: 3px solid #780000;
          }
        }
      }
    }

    .tripDetail {
      background-color: #780000;
      padding-top: 5vh;
      color: #fdf0d5;
      .tripHeader {
        margin-left: 10vw;
        margin-right: 10vw;
        img {
          width: 79vw;
          height: 20vh;
          object-fit: cover;
          margin-top: 5vh;
          border-radius: 20px;
          border: 3px solid #fdf0d5;
        }
        h1 {
          text-transform: uppercase;
          text-align: center;
          font-size: 3em;
        }
        .tripHeaderDescription {
          display: flex;
          justify-content: space-between;
          .dateTitle,
          .descriptionTitle {
            width: 49%;
          }
          .dateTitle {
            h1 {
              color: var(--color1);
              font-size: 1.4em;
            }
            text-align: right;
            text-transform: uppercase;
            p {
              font-size: 0.8em;
            }
          }
          .descriptionTitle {
            text-align: justify;
          }
        }
      }

      .tripStops {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
        h3 {
          text-align: center;
          text-transform: uppercase;
          font-size: 3em;
          margin-top: 5vh;
          margin-bottom: 2vh;
        }
        .stopsList {
          display: flex;
          flex-direction: column;
          .stopCard {
            display: flex;
            margin-bottom: 5vh;
            .stopImage {
              width: 50%;
              height: 60vh;
              object-fit: cover;
              border-radius: 30px;
              object-fit: cover;
              border: 3px solid #fdf0d5;
            }
            .stopContent {
              width: 50%;
              padding-top: 10vh;
              padding-left: 5vw;
              padding-right: 5vw;
              h4 {
                text-align: uppercase;
                font-size: 2em;
              }
              p {
                text-align: justify;
              }
            }
          }
          .stopCard.left {
            flex-direction: row;
          }
          .stopCard.right {
            flex-direction: row-reverse;
          }
        }
      }

      .tripAuthor {
        background-color: #780000;
        h3 {
          text-transform: uppercase;
        }
        .authorInfo {
          img {
            width: 10vw;
            height: 20vh;
            object-fit: cover;
            border-radius: 20px;
            border: 2px solid #fdf0d5;
          }
        }
      }
    }

    .userLogIn,
    .register {
      padding-top: 10vh;
      text-align: center;
      text-transform: uppercase;
      span {
        color: var(--color1);
      }
      a {
        color: var(--color1);
        font-size: 1.5em;
      }
    }

    .logIn,
    .registerForm {
      width: 40vw;
      margin-left: 30vw;
      text-align: center;
      border: 3px solid black;
      border-radius: 30px;
      padding-bottom: 5vh;
      margin-top: 8vh;
      margin-bottom: 5vh;
      background-image: url(https://images.unsplash.com/photo-1629286520432-fe333ba1513d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-position: right;
      height: 50vh;
      h1 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 10vh;
        padding-bottom: 5vh;
        color: white;
      }
      input {
        margin-bottom: 2vh;
        margin-top: 2vh;
      }

      label {
        text-transform: uppercase;
        color: white;
      }

      .buttonLogIn,
      .registerButton {
        padding: 15px 20px 15px 20px;
        border-radius: 30px;
        border: 3px solid var(--color1);
        margin-top: 2vh;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--color1);
      }
      .buttonLogIn:hover,
      .registerButton:hover {
        background-color: var(--color1);
        color: white;
        border: 3px solid white;
      }
    }

    .createTripBackground {
      padding-top: 8vh;
      padding-bottom: 5vh;
      background-image: url(https://images.unsplash.com/photo-1629286520432-fe333ba1513d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      height: 87vh;
      color: #fdf0d5;

      h1 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 5vh;
        padding-bottom: 5vh;
      }
      .createTrip {
        margin-right: 25vw;
        width: 50vw;
        margin-left: 25vw;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .form-field {
          text-transform: uppercase;
          text-align: center;
          input#trip_title,
          input#trip_description,
          input#trip_destination,
          input#trip_image {
            width: 40vw;
          }
          input#trip_startDate,
          input#trip_endDate {
            width: 10vw;
          }
          textarea {
            width: 40vw;
            height: 10vh;
          }
        }
        .formFieldDate {
          display: flex;
          justify-content: center;
          .date-field {
            width: 15vw;
            display: flex;
            flex-wrap: wrap;
            text-transform: uppercase;
            justify-content: center;
            text-align: center;
          }
        }
        .buttonCreateTrip {
          padding: 15px 20px 15px 20px;
          border-radius: 30px;
          border: 3px solid white;
          margin-top: 5vh;
          cursor: pointer;
          text-transform: uppercase;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          width: 20vw;
        }
        .buttonCreateTrip:hover {
          background-color: var(--color1);
          color: white;
          border: 3px solid white;
        }
      }
    }
  }
  footer {
    color: black;
    text-align: center;
    text-transform: uppercase;
    background-color: #fdf0d5;
  }
}
